# Samin Intisar

## Research question/interests

Briefly describe your research question or interests here.

In [16]:
#Import statements
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Loading Data

In [3]:
df = pd.read_csv("../data/raw/Stats.csv", encoding="ISO-8859-1", delimiter = ";")

df

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
0,1,Max Aarons,ENG,DF,Norwich City,Premier League,22.0,2000,34,32,...,0.03,1.41,1.16,0.00,0.06,0.03,5.53,0.47,1.59,22.7
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,34.0,1987,34,34,...,0.00,0.06,1.39,0.00,0.03,0.00,6.77,2.02,1.36,59.8
2,3,Salis Abdul Samed,GHA,MF,Clermont Foot,Ligue 1,22.0,2000,31,29,...,0.00,0.36,1.24,0.00,0.00,0.00,8.76,0.88,0.88,50.0
3,4,Laurent Abergel,FRA,MF,Lorient,Ligue 1,29.0,1993,34,34,...,0.03,0.79,2.23,0.00,0.00,0.00,8.87,0.43,0.43,50.0
4,5,Charles Abi,FRA,FW,Saint-Étienne,Ligue 1,22.0,2000,1,1,...,0.00,2.00,0.00,0.00,0.00,0.00,4.00,2.00,0.00,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2916,2917,Martín Zubimendi,ESP,MF,Real Sociedad,La Liga,23.0,1999,36,26,...,0.10,0.10,1.08,0.00,0.00,0.00,9.41,2.64,1.42,65.0
2917,2918,Szymon ?urkowski,POL,MF,Empoli,Serie A,24.0,1997,35,29,...,0.00,0.74,1.91,0.00,0.04,0.00,8.05,1.02,1.56,39.4
2918,2919,Martin Ødegaard,NOR,MF,Arsenal,Premier League,23.0,1998,36,32,...,0.10,0.84,0.81,0.00,0.06,0.00,7.44,0.55,0.81,40.5
2919,2920,Milan ?uri?,BIH,FW,Salernitana,Serie A,32.0,1990,33,23,...,0.25,0.29,0.17,0.04,0.00,0.00,3.24,12.40,4.81,72.0
2920,2921,Filip ?uri?i?,SRB,MFFW,Sassuolo,Serie A,30.0,1992,12,9,...,0.27,0.00,0.93,0.00,0.00,0.00,4.67,0.40,0.67,37.5

# Cleaning the data

In [5]:
#Deleting unnecessary rows
df = df.drop(df[df.Min < 300].index)
df = df.drop(df[df.Pos == 'GK'].index)
df = df.drop(df[df.Pos == 'GKMF'].index)
df = df.drop(df[df.Pos == 'MFFW'].index)
df = df.drop(df[df.Pos == 'FWMF'].index)
df = df.drop(df[df.Pos == 'MFDF'].index)
df = df.drop(df[df.Pos == 'DFMF'].index)
df = df.drop(df[df.Pos == 'FWDF'].index)
df = df.drop(df[df.Pos == 'DFFW'].index)

df

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
0,1,Max Aarons,ENG,DF,Norwich City,Premier League,22.0,2000,34,32,...,0.03,1.41,1.16,0.00,0.06,0.03,5.53,0.47,1.59,22.7
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,34.0,1987,34,34,...,0.00,0.06,1.39,0.00,0.03,0.00,6.77,2.02,1.36,59.8
2,3,Salis Abdul Samed,GHA,MF,Clermont Foot,Ligue 1,22.0,2000,31,29,...,0.00,0.36,1.24,0.00,0.00,0.00,8.76,0.88,0.88,50.0
3,4,Laurent Abergel,FRA,MF,Lorient,Ligue 1,29.0,1993,34,34,...,0.03,0.79,2.23,0.00,0.00,0.00,8.87,0.43,0.43,50.0
5,6,Dickson Abiama,NGA,FW,Greuther Fürth,Bundesliga,23.0,1998,24,5,...,1.85,0.25,0.86,0.00,0.00,0.00,4.81,2.72,4.94,35.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2915,2916,Igor Zubeldia,ESP,DF,Real Sociedad,La Liga,25.0,1997,26,19,...,0.05,0.22,0.82,0.00,0.05,0.00,9.18,2.62,2.13,55.2
2916,2917,Martín Zubimendi,ESP,MF,Real Sociedad,La Liga,23.0,1999,36,26,...,0.10,0.10,1.08,0.00,0.00,0.00,9.41,2.64,1.42,65.0
2917,2918,Szymon ?urkowski,POL,MF,Empoli,Serie A,24.0,1997,35,29,...,0.00,0.74,1.91,0.00,0.04,0.00,8.05,1.02,1.56,39.4
2918,2919,Martin Ødegaard,NOR,MF,Arsenal,Premier League,23.0,1998,36,32,...,0.10,0.84,0.81,0.00,0.06,0.00,7.44,0.55,0.81,40.5
2919,2920,Milan ?uri?,BIH,FW,Salernitana,Serie A,32.0,1990,33,23,...,0.25,0.29,0.17,0.04,0.00,0.00,3.24,12.40,4.81,72.0

# Restructuring the data

In [9]:
#Creating new data frames based on player positions
forwards = df[df.Pos == "FW"]
midfielders = df[df.Pos == "MF"]
defenders = df[df.Pos == "DF"]

forwards = forwards[["Goals", "PasTotCmp", "TklWon", "Assists", "Touches", "DriPast", "Crs"]]
midfielders = midfielders[["Goals", "PasTotCmp", "TklWon", "Assists", "Touches", "DriPast", "Crs"]]
defenders = defenders[["Goals", "PasTotCmp", "TklWon", "Assists", "Touches", "DriPast", "Crs"]]

# Data frames based on player positions

In [11]:
forwards.describe()

,Goals,PasTotCmp,TklWon,Assists,Touches,DriPast,Crs
count,271.000000,271.000000,271.000000,271.000000,271.000000,271.000000,271.000000
mean,0.374317,18.596162,0.562030,0.137638,38.164576,1.172546,0.989041
std,0.221258,7.558521,0.356564,0.131882,9.486099,0.761007,0.828857
min,0.000000,7.110000,0.000000,0.000000,20.600000,0.000000,0.000000
25%,0.210000,13.500000,0.300000,0.040000,31.450000,0.610000,0.430000
50%,0.350000,16.600000,0.510000,0.120000,35.800000,1.050000,0.710000
75%,0.505000,21.150000,0.750000,0.200000,42.150000,1.520000,1.360000
max,1.080000,48.900000,2.480000,0.830000,76.300000,5.290000,6.110000

In [12]:
midfielders.describe()

,Goals,PasTotCmp,TklWon,Assists,Touches,DriPast,Crs
count,454.000000,454.000000,454.000000,454.000000,454.000000,454.000000,454.000000
mean,0.082247,40.434361,1.435022,0.083568,59.890308,0.929163,0.780727
std,0.099088,13.394111,0.534285,0.095742,13.118064,0.612391,0.746994
min,0.000000,14.600000,0.000000,0.000000,27.400000,0.000000,0.000000
25%,0.000000,30.600000,1.050000,0.000000,49.900000,0.520000,0.270000
50%,0.050000,38.650000,1.380000,0.060000,58.850000,0.790000,0.560000
75%,0.130000,47.875000,1.780000,0.130000,67.975000,1.210000,1.050000
max,0.610000,96.100000,3.390000,0.630000,109.600000,4.260000,4.120000

In [13]:
defenders.describe()

,Goals,PasTotCmp,TklWon,Assists,Touches,DriPast,Crs
count,773.000000,773.000000,773.000000,773.000000,773.000000,773.000000,773.000000
mean,0.043687,42.803105,1.133364,0.050906,63.148900,0.542794,1.111902
std,0.063527,12.791294,0.482075,0.076271,12.307331,0.516187,1.200015
min,0.000000,16.700000,0.000000,0.000000,30.200000,0.000000,0.000000
25%,0.000000,33.500000,0.750000,0.000000,54.100000,0.160000,0.090000
50%,0.000000,40.100000,1.100000,0.000000,61.200000,0.390000,0.540000
75%,0.070000,49.600000,1.430000,0.080000,70.100000,0.770000,1.960000
max,0.500000,87.200000,3.060000,0.430000,105.300000,4.150000,5.950000

In [14]:
y1 = fw_mean = forwards.describe().loc['mean', ['Goals', 'Assists', 'Crs', 'DriPast', 'TklWon']]
y2 = mf_mean = midfielders.describe().loc['mean', ['Goals', 'Assists', 'Crs', 'DriPast', 'TklWon']]
y3 = df_mean = defenders.describe().loc['mean', ['Goals', 'Assists', 'Crs', 'DriPast', 'TklWon']]

x = np.arange(len(y1))

In [15]:
#Bar Plot
bar_width = 0.15
plt.bar(x, y1, width = bar_width, color = 'blue')
plt.bar(x + bar_width, y2, width = bar_width, color = 'green')
plt.bar(x + bar_width*2, y3, width = bar_width, color = 'red')

#Labels
plt.xticks(x + bar_width, ['Goals', 'Assists', 'Crosses', 'Dribbles', 'Tackles'])
plt.title('Dominant attributes of players based on their position')
plt.ylabel('Per 90 minutes')

#Legend
colors = {'Forwards':'blue', 'Midfielders':'green', 'Defenders':'red'}         
labels = list(colors.keys())
handles = [plt.Rectangle((0,0),1,1, color=colors[label]) for label in labels]
plt.legend(handles, labels)

In [22]:
#Scatter Plot
sns.relplot(x = 'PasCmp',
            y = 'Touches',
            hue = 'Pos',
            data = df,
            s = 7).set(xlabel = 'Passes',
                                  ylabel = 'Touches',
                                  title = 'Passes and Touches by players in different positions')

In [20]:
#Scatter Plot
sns.relplot(x = 'TklWon',
            y = 'Int',
            hue = 'Pos',
            data = df,
            s = 7).set(xlabel = 'Tackles',
                                  ylabel = 'Interceptions',
                                  title = 'Interceptions and Tackles by players in different positions')